.opcoes {
  display: flex;
  list-style: none;
}

.opcao {
  min-width: 120px;
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  text-transform: uppercase;
}